<div id="collection-deck-filter" class="box b1 container noselect">
	<div onclick="Deck.collection.filter('', 'Card.switchToMain')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/cards-white.png"></div>
	<div onclick="Deck.collection.filter('close', 'Card.switchToMain')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/close-white.png"></div>
	<div onclick="Deck.collection.filter('ranged', 'Card.switchToMain')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/ranged-white.png"></div>
	<div onclick="Deck.collection.filter('siege', 'Card.switchToMain')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/siege-white.png"></div>
	<div onclick="Deck.collection.filter('agile', 'Card.switchToMain')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/agile-white.png"></div>
</div>