<div id="collection-deck-filter" class="box b1 container noselect">
	<div id="deck-collection-category" class="box b1 em08 lucida-grande bold opacity-08 padding-left-15 margin-bottom-5"
		style="color:#fff;">Todas as cartas</div>
	<div class="mobile-box b5 container center"><img onclick="Deck.collection.filter('', 'Card.switchToMain')"
			class="size-35 opacity-out-08 center cursor-2" src="image/icon/reach/cards-white.png"></div>
	<% for(let i in reaches){ %>
	<div class="mobile-box b5 container center"><img
			onclick="Deck.collection.filter('<%= reaches[i].id %>', '<%= reaches[i].description %>', 'Card.switchToMain')"
			class="size-35 opacity-out-08 center cursor-2" src="<%= reaches[i].image_white %>"></div>
	<% } %>
</div>