<style type="text/css">
	.sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
</style>

<div id="detail-leader" class="box a1 container msg-window margin-top-30 h-center" style="display:none;">
	<div class="box b5-6 bg container border-st padding-10 radius-10 height-600 scroll-y"
		style="background-color:#111;background-image: url(image/leader/bg-12.png);">
		<div class="box a1 container sticky">
			<div class="mobile-box a9-10"></div>
			<img class='mobile-box center size-20 icon margin-top-20 cursor-2' onclick="lib.display('detail-leader', 'none')"
				src="/image/icon/close-white.png">
		</div>

		<div id="detail-leader-card" class="box a1 container h-center"></div>
		<div id="detail-leader-info" class="box a1 container h-center"></div>
	</div>
</div>