<div class="box a1 container center">
	<div class="mobile-box a6 container center"><img data-js="leader-carousel-prev"
			src="https://spaces.jariomilitar.com/erp-images/icon/previous-icon-white.png"
			class="size-30 icon center noselect cursor-2"></div>

	<div id="leader-carousel" class="mobile-box a2-3 container h-center"></div>

	<div class="mobile-box a6 container center"><img data-js="leader-carousel-next"
			src="https://spaces.jariomilitar.com/erp-images/icon/next-icon-white.png"
			class="size-30 icon center noselect cursor-2"></div>
</div>
<div id="leader-info" class="mobile-box a1 container center"></div>