<div id="deck-main-filter" class="box b1 container noselect">
	<div onclick="Deck.main.filter('', 'Card.switchToCollection')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/cards-white.png"></div>
	<div onclick="Deck.main.filter('close', 'Card.switchToCollection')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/close-white.png"></div>
	<div onclick="Deck.main.filter('ranged', 'Card.switchToCollection')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/ranged-white.png"></div>
	<div onclick="Deck.main.filter('siege', 'Card.switchToCollection')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/siege-white.png"></div>
	<div onclick="Deck.main.filter('agile', 'Card.switchToCollection')" class="mobile-box b5 container center"><img class="size-35 opacity-out-08 center" src="image/icon/range/agile-white.png"></div>
</div>