<div id="main-deck-filter" class="box b1 container noselect">
	<div id="deck-main-category" class="box b1 em08 lucida-grande bold opacity-08 padding-left-15 margin-bottom-5" style="color:#fff;">Todas as cartas</div>
	<div class="mobile-box b5 container center"><img onclick="Deck.main.filter('', 'Card.switchToMain')" class="size-35 opacity-out-08 center cursor-2" src="image/icon/range/cards-white.png"></div>
	<% for(let i in ranges){ %>
		<div class="mobile-box b5 container center"><img onclick="Deck.main.filter('<%= ranges[i].id %>', '<%= ranges[i].description %>', 'Card.switchToMain')" class="size-35 opacity-out-08 center cursor-2" src="<%= ranges[i].image_white %>"></div>
	<% } %>
</div>