<!DOCTYPE html>
<html>
<head>
	<%- include ("./../partials/head") %>
	<script src='/socket.io/socket.io.js'></script>
</head>
<body style="background-color: #18191a;">
	<div class="container bg border-st padding-5">
		<a class="box b1 lucida-grande bold opacity-out-08 cursor-2" href="/" style="color:#fff;">Home</a>
		<div class="box b5 container height-600 border-st margin-top-10">
			<div id="enemy-leader" class="box a1 container border height-125"></div>
			<div id="enemy-leader" class="box a1 container height-350">
				<div class="box a1 border height-175"></div>
				<div class="box a1 border height-175"></div>
			</div>
			<div id="player-leader" class="box a1 container border height-125"></div>
		</div>
		
		<div class="box b3-5 container border-st margin-top-10">
			<%- include ("./components/field") %>
			<%- include ("./components/player-deck") %>
		</div>

		<div class="box b5 container height-600 border-st margin-top-10">
		</div>
	</div>
</div>
</body>
	<%- include ("./../partials/lib") %>
	<script src="js/model/empire.js"></script>
	<script src="js/model/card.js"></script>
	<script src="js/model/player.js"></script>
	<script src="js/model/leader.js"></script>

	<script src='js/match/card.js'></script>
	<script src='js/match/connection.js'></script>
</html>