<!DOCTYPE html>
<html>

<head>
	<%- include ("./partials/head") %>
	<style>
		body,
		html {
			height: 100%;
		}
	</style>
</head>

<body>
	<div class="container bg h-center"
		style="background-image: url('https://i.pinimg.com/originals/40/24/0f/40240f3848e82d04cba95c1e7fb952c5.jpg');height:100%;">
		<div class="box b2 container padding-10 border-st shadow-st radius-10 center h-center"
			style="background-color: rgba(0,0,0,.6);">
			<div class="box b1 center lucida-grande em25 bold" style="color:#f0f0f0;">SIEGE</div>
			<div class="box b1 center lucida-grande em12 bold underline" style="color:#f0f0f0;">THE WAR CARD GAME</div>
			<div onclick="window.location.href='/queue'"
				class="box b2-3 container menu-btn2 height-50 margin-top-10 noselect cursor-2">
				<div class="lucida-grande bold center">NOVO JOGO</div>
			</div>
			<div onclick="window.location.href='/deck'"
				class="box b2-3 container menu-btn2 height-50 margin-top-10 noselect cursor-2">
				<div class="lucida-grande bold center">DECK MENU</div>
			</div>
			<div onclick="window.location.href='/card/menu'"
				class="box b2-3 container menu-btn2 height-50 margin-top-10 noselect cursor-2">
				<div class="lucida-grande bold center">CARD MENU</div>
			</div>
		</div>
	</div>
</body>

<%- include ("./partials/lib") %>

</html>