<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>
<body style="background-color: #222">
	<a href="/deck-menu">Deck Menu</a>
</body>
<% include ./partials/lib %>
<script>
</script>
</html>