<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/40/24/0f/40240f3848e82d04cba95c1e7fb952c5.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>

<div class="container bg h-center"></div>

</body>
<% include ./partials/lib %>
<script>
</script>
</html>