<form action="/user/login" method="post" class="box b1 container h-center">
  <input type="text" name="username" style="color:#fff" placeholder="Usuário"
    class="box b2-3 lucida-grande bold em15 border-bottom height-50 margin-top-10 cursor-2 transparent center">
  <input type="password" name="password" style="color:#fff" placeholder="Senha"
    class="box b2-3 lucida-grande bold em15 border-bottom height-50 margin-top-10 cursor-2 transparent center">
  <input type="submit" name="submit" style="color:#fff"
    class="box b2-3 btn-act lucida-grande bold em12 noborder radius-5 height-50 margin-top-10 noselect cursor-2"
    value="Entrar">
</form>