<div class="mobile-box b3 padding-15 container" style="color:#fff;">
  <a class="lucida-grande bold opacity-out-08 cursor-2" href="/" style="color:#fff;">Home</a>
</div>

<div class="box a3 container center">
  <div class="mobile-box a6 container center"><img data-js="empire-carousel-prev"
      src="https://spaces.jariomilitar.com/erp-images/icon/previous-icon-white.png"
      class="size-30 icon center noselect cursor-2"></div>

  <div id="empire-carousel" class="mobile-box a2-3 container center"></div>

  <div class="mobile-box a6 container center"><img data-js="empire-carousel-next"
      src="https://spaces.jariomilitar.com/erp-images/icon/next-icon-white.png"
      class="size-30 icon center noselect cursor-2"></div>
</div>

<div id="empire-info" class="box a3 container"></div>