<div id="field" class="box a1 container">
	<div class="box a10 height-80 border-st"></div>
	<div class="box a9-10 height-80 border-st"></div>
	
	<div class="box a10 height-80 border-st"></div>
	<div class="box a9-10 height-80 border-st"></div>
	
	<div class="box a10 height-80 border-st"></div>
	<div class="box a9-10 height-80 border-st"></div>
	
	<div class="box a10 height-80 border-st"></div>
	<div class="box a9-10 height-80 border-st"></div>
	
	<div class="box a10 height-80 border-st"></div>
	<div class="box a9-10 height-80 border-st"></div>

	<div class="box a10 height-80 border-st"></div>
	<div class="box a9-10 height-80 border-st"></div>
</div>